
.about_section {
    padding: 50px 0;
  }
  
  .about_textt {
    padding-left: 50px;
  }
  
  .about_text {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
  }
  
  .highest_text {
    font-size: 36px;
    color: #333;
    margin-bottom: 20px;
  }
  
  .style_text {
    font-size: 16px;
    color: #666;
    line-height: 1.8;
  }
  
  
  
 