.contact_section {
  padding: 60px 0;
}

.contact_form_wrapper {
  margin-top: 20px;
}

.contact_form {
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 5px;
}

.form-group {
  margin-bottom: 15px;
}

.contact_image img {
  width: fit-content;
  margin-left: 500px;
  border-radius: 5px;
}

.description {
  margin-bottom: 20px;
}
